<div class="mt-4" style="max-height: 80vh;
        overflow-y: auto;
        position: absolute;
        width: 95%;
        left: 0.5rem;">
    <mat-card class="rounded-lg p-4 mb-4 flex items-center">
        <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9l9-7 9 7-9 7-9-7z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 22V12H5v10M19 22V12h-4v10" />
            </svg>
        </div>
        <div class="ml-4 flex-grow">
            <div class="font-semibold">New House</div>
            <div class="text-gray-500">5 years</div>
            <div class="font-bold text-lg">$80,000</div>
        </div>
        <div class="text-green-500">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
    </mat-card>

    <mat-card class="rounded-lg p-4 mb-4 flex items-center">
        <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9l9-7 9 7-9 7-9-7z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 22V12H5v10M19 22V12h-4v10" />
            </svg>
        </div>
        <div class="ml-4 flex-grow">
            <div class="font-semibold">New House</div>
            <div class="text-gray-500">5 years</div>
            <div class="font-bold text-lg">$80,000</div>
        </div>
        <div class="text-green-500">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
    </mat-card>


    <mat-card class="rounded-lg p-4 mb-4 flex items-center">
        <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9l9-7 9 7-9 7-9-7z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 22V12H5v10M19 22V12h-4v10" />
            </svg>
        </div>
        <div class="ml-4 flex-grow">
            <div class="font-semibold">New House</div>
            <div class="text-gray-500">5 years</div>
            <div class="font-bold text-lg">$80,000</div>
        </div>
        <div class="text-green-500">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
    </mat-card>

    <mat-card class="rounded-lg p-4 mb-4 flex items-center">
        <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9l9-7 9 7-9 7-9-7z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 22V12H5v10M19 22V12h-4v10" />
            </svg>
        </div>
        <div class="ml-4 flex-grow">
            <div class="font-semibold">New House</div>
            <div class="text-gray-500">5 years</div>
            <div class="font-bold text-lg">$80,000</div>
        </div>
        <div class="text-green-500">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
    </mat-card>

    <mat-card class="rounded-lg p-4 mb-4 flex items-center">
        <div class="flex-shrink-0">
            <svg class="h-6 w-6 text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9l9-7 9 7-9 7-9-7z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M9 22V12H5v10M19 22V12h-4v10" />
            </svg>
        </div>
        <div class="ml-4 flex-grow">
            <div class="font-semibold">New House</div>
            <div class="text-gray-500">5 years</div>
            <div class="font-bold text-lg">$80,000</div>
        </div>
        <div class="text-green-500">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
        </div>
    </mat-card>
</div>