<mat-drawer-container class="example-container  !z-[999] " [ngClass]="{'full-height':drawer.opened}"
    [hasBackdrop]="true">
    <mat-drawer #drawer [mode]="'over'" class="  !fixed">
        <section class="h-full  w-full">
            <!-- Toggle -->
            <div class="relative top-2 right-2 float-end"><mat-icon svgIcon="cross"
                    (click)="drawer.toggle()"></mat-icon>
            </div>
            <!-- Toggle -->

            <div class="section-one pt-10">
                <span>Color Platter : </span>
                <div class="mt-5 h-20 w-[93%] bg-slate-700 flex items-center gap-2 justify-center rounded">
                    <mat-icon class="text-blue-50 color-ball cursor-pointer" (click)="changeTheme('light-theme',drawer)" fontIcon="brightness_1"></mat-icon>
                    <mat-icon class="text-black color-ball cursor-pointer" (click)="changeTheme('dark-theme',drawer)" fontIcon="brightness_1"></mat-icon>
                </div>
                <!-- <div class="h-20 w-[93%] bg-slate-700 mt-2 color-ball"></div>
               <div class="h-20 w-[93%] bg-slate-700 mt-2 color-ball"></div> -->
            </div>
        </section>

    </mat-drawer>
    <mat-drawer-content >
        <mat-icon svgIcon="menu-hamburger" (click)="drawer.toggle()"></mat-icon>
    </mat-drawer-content>
</mat-drawer-container>